.header {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  grid-template-rows: 115px;
  grid-area: header;
  background: $dakr-color;
  border: 1px solid #4d4d4d;

  @include lg {
    grid-template-columns: 250px 250px 350px;
  }

  @include md {
    grid-template-columns: 250px 250px 300px;
  }

  @include sm {
    grid-template-columns: 200px 220px;
  }

  &__title {
    align-self: center;
    margin-left: 3em;
    @include font($xl-text, 700, 36px);
    color: $lieght-color;

    @include lg {
      margin-left: 1em;
    }

    @include sm {
      @include font($xl-text, 700, 36px);
      margin-bottom: 0.2em;
    }
  }

  &__search-form {
    display: flex;
    align-items: center;
    margin-left: 2.8em;

    @include sm {
      display: none;
    }
  }

  &__search {
    height: 32px;
    width: 153px;
    color: #fff;
    background: $dakr-color;
    border: 1px solid #4c4c4c;
    border-radius: 8px;
  }

  &__search:focus {
    outline: 1px solid $lieght-color;
  }

  &__notification-btn {
    padding: 0;
    margin-left: 0.9em;
    background: $dakr-color;
    border: none;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 3.8em;
  }

  &__user-name {
    margin-right: 0.7em;
    @include font($md-text, 600, 24px);
    color: $lieght-color;

    @include sm {
      @include font($md-text, 500, 18px);
    }
  }

  &__avatar {
    padding: 0;
    margin-right: 0.6em;
  }

  &__dropdown-btn {
    align-items: center;
    height: max-content;
    padding: 0;
    background: $dakr-color;
    border: none;
  }
}
