.histogram {
  grid-area: histogram;
  background: $secondary-color;
  border: 1px solid #4d4d4d;
  border-radius: $raunder;

  @include sm {
    overflow: auto;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    display: inline-block;
    padding: 1.3em 18em 1em 1.5em;
    @include font($md-text, 700, 24px);
    color: $lieght-color;

    @include sm {
      @include font($md-text, 600, 18px);
      padding: 1.3em 2em 1em 1em;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  &__checkbox-women + label {
    margin-right: 2em;
    padding-left: 10px;
    @include font($xs-text, 600, 14px);
    text-align: center;
    color: $lieght-color;

    @include md {
      margin-right: 1em;
    }

    @include sm {
      @include font($xs-text, 500, 14px);
      margin-right: 1em;
    }
  }

  &__checkbox-women + label::before {
    content: "\2713";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid $lightest-color;
    border-radius: 5px;
    background: $lightest-color;
    color: $lightest-color;

    @include sm {
      margin-top: 5px;
    }
  }

  &__checkbox-man + label {
    margin-right: 3em;
    padding-left: 14px;
    @include font($xs-text, 600, 14px);
    text-align: center;
    color: $lieght-color;

    @include sm {
      @include font($xs-text, 500, 14px);
      margin-left: 10px;
    }
  }

  &__checkbox-man + label::before {
    content: "\2713";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid $active-color;
    border-radius: 5px;
    background: $active-color;
    color: $active-color;

    @include sm {
      margin-left: 10px;
    }
  }

  &__img {
    min-width: 568px;
    max-height: 160px;
  }
}
