.main {
  display: grid;
  grid-template-columns: repeat(3, 341px);
  grid-template-rows: 148px 242px 242px;
  grid-template-areas:
    "card card card"
    "graph graph pie"
    "histogram histogram range-progress";
  grid-area: main;
  grid-gap: 2em;
  padding: 2.5em;
  background: $dakr-color;

  @include lg {
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: 148px 242px 242px 242px;
    grid-template-areas:
      "card card card"
      "graph graph graph"
      "histogram histogram histogram"
      "pie range-progress range-progress";
    grid-gap: 1.5em;
    padding: 2em;
  }

  @include md {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: 148px 242px 242px 242px;
    grid-template-areas:
      "card card card"
      "graph graph graph"
      "histogram histogram histogram"
      "pie range-progress range-progress";
    grid-gap: 1.5em;
    padding: 2em;
  }

  @include sm {
    grid-template-columns: 320px;
    grid-template-rows: repeat(3, 148px) repeat(5, 220px);
    grid-template-areas:
      "card"
      "card"
      "card"
      "graph"
      "histogram"
      "pie"
      "range-progress";
    grid-gap: 1.5em;
    padding: 2em;
  }
}
