.nav {
  display: grid;
  grid-template-columns: 98px;
  grid-template-rows: 1fr repeat(7, px) 1fr;
  grid-area: nav;
  background: $secondary-color;
  border: 1px solid #4d4d4d;

  @include lg {
    grid-template-columns: 200px repeat(7, 60px) 1fr;
    grid-template-rows: 98px;
    align-self: center;
  }

  @include md {
    grid-template-columns: 150px repeat(7, 60px) 1fr;
    grid-template-rows: 98px;
    align-self: center;
  }

  @include sm {
    grid-template-columns: 150px 120px 1fr;
    grid-template-rows: 98px;
    align-self: center;
  }

  &__logotype {
    margin: 3.3em auto 8.2em;

    @include lg {
      margin: 2.5em 6.2em auto 2.5em;
    }

    @include sm {
      margin: 2.5em 6.2em auto 1.5em;
    }
  }

  &__link {
    margin: 1.2em 2.2em;

    @include lg {
      margin: 2.5em auto;
    }

    @include sm {
      display: none;
    }
  }

  &__burger-menu {
    display: none;
    margin-top: 30px;
    cursor: pointer;

    @include lg {
      display: none;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: block;
      margin-left: 50px;
    }
  }
  &__burger-icons {
    width: 42px;
    height: 42px;
  }

  input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  &__check {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    margin: 142px 18px 48px 18px;
    background: #fdfdff;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
    transition: ease-in 0.6s;

    @include lg {
      margin: 34px auto;
    }

    @include sm {
      display: none;
    }
  }

  input[type="checkbox"]:checked ~ &__check {
    background-color: $active-color;
  }

  &__check:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $active-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.6s;
  }

  input[type="checkbox"]:checked ~ &__check:before {
    transform: translateX(-50px);
  }

  &__check:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fdfdff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.6s;
    transform: translateX(50px);
  }

  input[type="checkbox"]:checked ~ &__check:after {
    transform: translateX(0px);
  }
}
