.pie-charts {
  grid-area: pie;
  background: $secondary-color;
  border: 1px solid #4d4d4d;
  border-radius: $raunder;

  &__title {
    padding: 1em 6em 1.5em 2.5em;
    @include font($md-text, 700, 24px);
    color: $lieght-color;

    @include lg {
      padding: 1em 1.5em 1em 1.5em;
      @include font($md-text, 700, 18px);
    }

    @include sm {
      @include font($md-text, 600, 18px);
    }
  }

  &__content {
    display: flex;
  }

  &__img {
    margin: 0em 2em 1em 2.7em;

    @include lg {
      margin: 1em;
    }

    @include md {
      margin: 0.6em;
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
  }

  input[type="checkbox"] {
    display: none;
  }

  &__checkbox-desktop + label {
    padding-right: 26px;
    @include font($xs-text, 600, 14px);
    text-align: center;
    color: $lieght-color;

    @include lg {
      padding: 14px;
    }

    @include md {
      padding: 10px;
    }

    @include sm {
      padding: 14px;
    }
  }
  &__checkbox-desktop + label::before {
    content: "\2713";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid $lightest-color;
    border-radius: 5px;
    background: $lightest-color;
    color: $lightest-color;
  }

  &__checkbox-mobile + label {
    padding: 14px;
    @include font($xs-text, 600, 14px);
    text-align: center;
    color: $lieght-color;

    @include lg {
      padding: 14px;
    }

    @include md {
      padding: 10px;
    }

    @include sm {
      margin-left: 24px;
      padding: 14px;
    }
  }

  &__checkbox-mobile + label::before {
    content: "\2713";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid $active-color;
    border-radius: 5px;
    background: $active-color;
    color: $active-color;
  }
}
