.body {
  font-family: "Gilroy", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 115px 1fr;
  grid-template-areas:
    "nav header"
    "nav main";
  max-width: 1280px;
  min-height: 880px;
  margin: 160px auto;
  font-family: "Gilroy", sans-serif;
  border-radius: $raunder;
  overflow: hidden;
  z-index: 10;

  @include lg {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 100px 1fr;
    grid-template-areas:
      "nav"
      "header"
      "main";
    margin: 0px auto;
  }

  &__img-ellipse {
    position: absolute;
    transform: translate(50%,50%);
    left: 70%;
    top: 90%;

    @include lg {
      display: none;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }
  }
}
