@mixin font($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin sm {
  @media screen and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin xl($screen-xl-max) {
  @media screen and (max-width: $screen-xl-max) {
    @content;
  }
}
