//MEDIA QUERIES

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

//TYPOGRAPHY
$xl-text: 30px;
$md-text: 20px;
$xs-text: 12px;

//MICS
$raunder: 14px;

//COLORS
$lightest-color: #e786d7;
$active-color: #7f7fd5;
$dakr-color: #212427;
$secondary-color: #282c31;
$lieght-color: #cacaca;
$tertiary-color: #979797;
